@model StudentModel
<form asp-action="Create">
    <label asp-for="FirstName"></label>
    <input asp-for="FirstName" />
    <label asp-for="LastName"></label>
    <input asp-for="LastName" />
    <label asp-for="BirthDate"></label>
    <input asp-for="BirthDate" />
    <button type="submit" class="btn btn-primary">Create</button>
</form>